<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

    <style>
      header {
        height: calc(100vh - 100px); /* Set a fixed height */
        overflow-y: auto; /* Enable vertical scrolling */
      }
    </style>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="{{ site.cv_download }}">Download CV PDF</a></p>

        <div>
          <h2>Socials</h2>
          <p><img src="./assets/email-icon.png" alt="Email Icon" width="6%" height="6%" style="vertical-align: middle;">
          <a href="mailto:{{ site.email }}" style="vertical-align: middle;">{{ site.email }}</a></p>

          <p><img src="./assets/linkedin-icon.png" alt="LinkedIn Icon" width="6%" height="6%" style="vertical-align: middle;">
          <a href="{{ site.linkedin }}" style="vertical-align: middle;">linkedin.com/in/gerald-moore</a></p>

          <p><img src="./assets/github-mark.png" alt="GitHub Icon" width="7%" height="7%" style="vertical-align: middle;">
          <a href="{{ site.github_one }}" style="vertical-align: middle;">github.com/geraldmoore</a></p>

          <p><img src="./assets/github-mark.png" alt="GitHub Icon" width="7%" height="7%" style="vertical-align: middle;">
          <a href="{{ site.github_two }}" style="vertical-align: middle;">github.com/gm515</a> [academic]</p>
        </div>

        {% if site.show_contents %}
        <div>
          <h2>Contents</h2>
          <ul>
            <li><a href="#profile">Profile</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#technical-skills">Technical Skills</a></li>
            <li><a href="#publications">Publications</a></li>
            <li><a href="#conferences--workshops">Conferences &amp; Workshops</a></li>
            <li><a href="#teaching--events">Teaching &amp; Events</a></li>
          </ul>
        </div>

        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>